@import "colors";

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: $bg_violet;
  background: linear-gradient(-214deg, #f1e8eb 0%, #f1e8eb 1%, #f1e6ea 27%, #f1e2e7 42%, #f1e2e7 52%, #f1cdda 99%);
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.75rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 3.375rem;
}

h3 {
  font-size: 2rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.75rem;
  line-height: 2.625rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h6 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  letter-spacing: .2rem;
  color: $main_dark;
}

p, a, li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: .1rem;
  color: $main_dark;
}

.viola_btn {
  background-color: white;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  line-height: 21px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  border-radius: 25px;
  border: none;
  transition: all .5s ease-in-out;
  color: $main_dark;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 4px 0px rgba(212, 172, 215, 0);

  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    background-color: $main_violet_dark;
    color: white;
    box-shadow: 2px 2px 4px 0px rgba(212, 172, 215, .65);
  }
}

.section-container {
  padding: 3.5rem 0;

  &_header {
    margin-bottom: 40px;

    h2 {
      text-align: center;
    }
  }
}

.banner {
  height: calc(100vh - 82px);
  background-size: 100%;
  background-repeat: no-repeat;
}

.owl-theme {
  .owl-nav {
    position: absolute;
    top: calc(50% - 5.5rem);
    width: 100%;

    .owl-prev, .owl-next {
      position: absolute;
      font-size: 3rem !important;

      &:hover {
        background-color: transparent;
        color: $main_violet_dark;
      }

      &:active, &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .owl-prev {
      left: -12px;
    }

    .owl-next {
      right: -12px;
    }
  }

  .owl-dots {
    margin-top: 26px;

    .owl-dot {
      margin: 0 12px;

      span {
        height: 19px;
        width: 19px;
        background-color: $main_violet_dark;
        transition: all .3s ease-in-out;
        border: 3px solid $main_violet_dark;

      }

      &.active {
        span {

          box-sizing: border-box;
          border-color: $main_violet_dark;
          background-color: $main_violet_light !important;
        }
      }

      &:focus, &.active {
        outline: none;
        box-shadow: none;

      }

      &:hover {
        span {
          background-color: $main_violet_dark;
        }
      }
    }
  }

  .owl-item{
    display: flex;
    justify-content: center;
  }
}

.features {
  margin-top: 124px;

  .feature_wrap {
    display: flex;
    justify-content: center;
    .feature_item {
      position: relative;
      height: 270px;
      width: 270px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 90px 26px 12px;

      background-color: rgba(152, 111, 155, .4);

      .img_wrap {
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        top: -75px;
        left: calc(50% - 90px);
        box-shadow: 15px 15px 0 0 rgba(229, 212, 224, 0.6);
      }

      .feature_text {
        text-align: center;
        font-size: 1.15rem;
        line-height: 27px;
        letter-spacing: 1.6px;
        height: 100%;
      }
    }
  }

  .feature_wrap:nth-child(2n+1) {
    .feature_item {
      background-color: rgba(152, 111, 155, .2);

      .img_wrap {
        box-shadow: 15px 15px 0 0 rgba(205, 180, 201, .6);
      }
    }
  }


}

.perspectives {
  display: flex;
  flex-direction: column;
  align-items: center;

  .perspective_item {
    max-width: 612px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.125rem;
      letter-spacing: 0.1125rem;
      line-height: 1.125rem;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 1rem;
    }

    .text {
      font-size: 1.125rem;
      letter-spacing: 0.1125rem;
      line-height: 1.6875rem;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      margin-top: 1rem;
    }

    .img_wrap {
      max-width: 80px;

      img {
        width: 100%;
      }
    }

    &::after {
      display: block;
      content: '';
      width: 3px;
      height: 72px;
      background-color: $main_violet_dark;
      margin-top: 20px;
    }

    &:last-child::after {
      display: none;
    }

  }
}

.viola_slider_wrap {
  .courses_slider {
    .owl-item {
      display: flex;
      justify-content: center;
    }

    .courses_slider_item {
      width: 290px;
      height: 452px;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: contain;
      padding: 0;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .label_wrap {
        display: flex;
        justify-content: space-between;
        padding: 15px 25px;

        .label_item {
          text-transform: uppercase;
          background-color: #f1e3e8;
          color: #383838;
          font-size: .75rem;
          letter-spacing: 0.075rem;
          line-height: 1.125rem;
          padding: .5rem 1rem;
          border-radius: 1rem;
        }
      }

      .data_wrap {
        width: 100%;
        height: 300px;
        background-color: $main_violet_light;
        border-radius: 1rem;
        margin-top: auto;
        padding: 26px 20px 20px 20px;

        .slide_header {
          margin-bottom: 30px;

          h5 {
            color: #000000;
            font-size: 14px;
            letter-spacing: 1.96px;
            text-transform: uppercase;
            line-height: 18px;
            text-align: center;
          }
        }

        .slide_body {
          margin-bottom: 32px;

          ul {
            list-style-type: none;
            padding-left: 0;

            li {
              color: #000000;
              font-size: 14px;
              line-height: 18px;
              letter-spacing: 1.4px;
              margin-bottom: 15px;
            }
          }
        }

        .slide_link {
          display: flex;
          justify-content: center;

          a {
            font-size: 14px;

          }
        }
      }
    }
  }
  .reviews_slider{
    &_item{
      max-width: 940px;
      .row {
        margin: 0;
      }
      .review_photo{
        .img_wrap{
          img{
            width: 100%;
            border-radius: 50%;
            box-shadow: 18px 18px 0 0 rgba(172, 129, 193, .5)

          }
        }
      }
      .review_content{
        padding: 32px 8px 16px 8px;
        display: flex;
        flex-direction: column;
        p.content{
          flex: 1 1 auto;
          font-size: 18px;
          letter-spacing: 1.8px;
          line-height: 27px;
        }

      }
    }
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;


  .header_container {
    padding: 0;

    .navbar {
      width: 100%;
      padding: .15rem 300px;
      background-color: $bg_violet;

      ul {
        //margin-left: 120px;
        width: 100%;

        li {
          margin-right: 45px;

          a {
            text-transform: uppercase;
          }
        }

      }
    }
  }
}

section#main_banner {
  .banner_item{
    width: 100%;
    height: calc(100vh - 72px);
    background-repeat: no-repeat;
    background-size: cover;background-position: center;
    .container{
      height: 100%;
    }
  }
  .main_banner_content {
    padding: 6rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .banner_main {
      flex: 1 1 auto;


      .content {
        width: 493px;
        height: 493px;
        background-color: rgba(130, 95, 133, 0.8);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 95px;

        .title, .text {
          color: #ffffff;
        }

        .title {
          margin-bottom: 26px;
          font-size: 2.25rem;
          line-height: 3.375rem;
        }
      }
    }
    .banner_bottom {
      .banner_btn_wrap {
        display: flex;
        justify-content: space-between;

        .btn {
          width: 450px;
        }
      }
    }
  }
  .owl-dots{
    position: absolute;
    z-index: 10;
    right: 5%;
    top: 50%;
    display: flex;
    flex-direction: column;
    button{
      margin-bottom: 20px;
    }
  }
}

section#main_about {
  .about_content {
    .about_tabs {
      display: flex;
      flex-direction: column;

      li.nav-item {
        a {
          margin-bottom: .75rem;
          text-transform: uppercase;
          font-family: 'Montserrat', sans-serif;
          font-size: 1.125rem;
          letter-spacing: 0.1125rem;
          line-height: 2.25rem;
          color: #000000;
          background-color: transparent;
          border: none;
          transition: all .3s ease-in-out;
          font-weight: 400;

          &::after {
            display: block;
            content: '';
            width: 100%;
            transform: scale(0);
            height: 3px;
            transition: all .3s ease-in-out;
            background-color: $main_violet_dark;
          }

          &.active {
            font-weight: 700;
          }

          &.active::after {

            transform: scale(1);
          }
        }

      }
    }

    .about_tab_content {

      .tab-pane {
        height: 100%;
        display: flex;
        justify-content: center;

        .single_tab {
          height: 711px;
          width: 711px;
          border-radius: 50%;
          background-color: rgba(152, 111, 155, .1);
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 48px 90px;

          .tab_icon_wrap {
            margin-bottom: 42px;

            img {
              width: 100%;
            }
          }

          .content {
            p {
              font-size: 1.125rem;
              line-height: 1.875rem;
              letter-spacing: 0.1125rem;
              color: #000000;
            }
          }
        }
      }
    }
  }
}



footer{

  padding: 64px 0;
  .container{
    ul,.footer_nav{

      list-style-type: none;
      padding-left: 0;
      li{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 1.4px;
        margin-bottom: 20px;
        a{
          color: $main_dark;
          text-decoration: none;
          &:hover{
            color: $main_violet_dark;
          }
        }

      }
    }
    .contact-nav{
      &-item{
        position: relative;
        .icon{
          position: absolute;
          left: -36px;
        }
        p{
          display: flex;
          flex-direction: column;
            a{
              margin-bottom: 12px;
              font-weight: 400;
              letter-spacing: 1.4px;
              line-height: 18px;
              white-space: nowrap;
            }
        }
      }
    }
    .footer_logo_wrap{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .footer_logo{

        display: flex;
        margin-bottom: 48px;
        img{
          //width: 100%;
        }
      }
      .social_wrap{
        margin-bottom: 24px;
        padding-left: 96px;
        a{
          margin-right: 28px;
          text-decoration: none;
        }
      }
    }
  }
}































